.mask {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: default;
  position: relative;
  transition: all 0.3s;
  pointer-events: auto;
  padding-right: 1em;
  border: 1px dashed transparent;
  font-size: 13px;

}

.mask:hover {
  border: 1px dashed cornflowerblue;
}
